h1{
    font-size: 68px; 
}
.text_field {
  height: 20vh;
  width: 100%;
}

.text_field h1 {
  font-size: 5.5rem;
}

section {
  padding-top: 160px;
  padding-bottom: 160px;
}



.text_img_para-sect .para-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
}

.text_img_para-sect .head_div {
  display: flex;
  align-items: flex-end;
  height: 100%;
}

.headshot__arrow {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 240px;
  cursor: pointer;
}



.third__arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.third-container {
  position: relative;
}
@media screen and (max-width: 1040px) {
  .text_field h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  section {
    padding-top: 80px;
    padding-bottom: 0;
  }
   h1 {
    font-size: 38px;
  }
  .para-div {
    padding-top: 12px;
  }
  .text_img-third h1 {
    padding-top: 12px;
  }
}

@media screen and (max-width: 520px) {
  .third__arrow {
    position: absolute;
    bottom: -50px;
    right: 22px;
  }
}

.headshot-fourth-section h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 94px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
}

.fourth__arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 992px) {
  .headshot-fourth-section h1 {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 94px;
    writing-mode: vertical-rl;
    transform: rotate(270deg);
  }
}
@media screen and (max-width: 520px) {
  .fourth__arrow {
    position: absolute;
    bottom: -50px;
    right: 22px;
  }
  .fifth__arrow {
    position: absolute;
    bottom: -90px;
    right: 20px;
    padding-bottom: 30px;
}
}



.fifth__arrow {
    position: absolute;
    bottom: -90px;
    right: 20px;
}