

.films_data_main {
    padding-top: 40px;
    padding-bottom: 40px;
}

.Film_main {
    padding-top: 50px;
    padding-bottom: 0;
}

@media screen and (max-width: 992px) {
    .films_data_main {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .Film_main {
        padding-top: 0;
        padding-bottom: 0;
    }

}

.film_main_sect {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    width: 100%;
}
.film_main_sect video {
    width: 100%;
    height: 100%;
}
.film_main_sect video::after{
    content: "+";
    position: relative;
    top: 0;
    left: o;
}