.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  z-index: 999999999999999999;
}
.header-second {
  display: flex;
  justify-content: space-between;
}
.header-bg {
  background: #fff;

  transition: 0.8s;
}

.inner-nav-social .socialmedia{
  color: #000;
}


.header img {
  width: 50%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
}

.nav-menu {
  display: flex;
  align-items: center;
  height: 6vh;
}
/* .nav-menu li {
  padding: 14px 1rem;
} */

.navbar-inner .nav-menu li a {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;

}

.humburger {
  display: none;
}
@media screen and (max-width: 1040px) {
  .nav-menu {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(255 255 255 / 90%);
    position: absolute;
    top: 0;
    left: -122%;
    z-index: -3;
    transition: 0.3s;
  }
  .nav-menu li {
    padding: 1rem 0;
  }

  .nav-menu.active {
    left: 0;
  }

  li.active {
    background-color: red;
  }

  .nav-menu li a {
    font-size: 1.4rem !important;
    color: #000 !important;
  }
  .humburger {
    display: flex;
    cursor: pointer;
    color: #fff !important;
    align-items: center;
  }
  ul{
    background: black;
    border-radius: 0px !important;
    position: absolute;
    top: 894px;
    left: 38%;
    width: 476px;
  
  }
  .inner-nav-social{
    display: none;
  }
}

.logo-1 {
  visibility: hidden;
  display: flex;
  align-items: center;
}

.logo-1:has(logo_show) {
  visibility: visible;
}

.logo_show {
  display: flex;
  align-items: center;
}



ul{
  background: rgba(0,0,0,.3);
  border-radius: 50px;
  position: absolute;
  top: 90vh;
  left: 37%;
  width: 476px;
  padding-left: 0 !important;
  justify-content: space-between;

}



.nav-menu li a:hover,
.nav-menu li .active
 {
  color: #fff !important;
  background: #000;
  padding: 10px;
  border-radius: 27px;
  margin-right: -10px;
  margin-left: -10px;
  transition: 0.2s;
}

